// SECTION frequently :: START

.frequently {
	padding-top: 127px;
	padding-bottom: 59px;

	.c-grid {
		max-width: 1502px;
	}

	&__title {
		padding-bottom: 137px;
		font-size: 80px;
		text-align: center;
		color: #000;
	}

	&__block {
		width: 100%;
		max-width: 50%;
		padding-bottom: 39px;
		@extend %fontOpenSans;

		&-wrapper {
			display: flex;
			flex-wrap: wrap;
			padding-bottom: 66px;
		}

		&-title {
			padding-bottom: 16px;
			font-size: 34px;
			color: #000;
		}

		&-desc {
			width: 100%;
			max-width: 569px;
			font-weight: 300;
			font-size: 26px;
			color: #000;
		}
	}

	&__btn {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		max-width: 195px;
		height: 71px;
		margin-left: auto;
		margin-right: auto;
		border-radius: 4px;
		background: #fff;
		box-shadow: 0 24px 16px rgba(0, 0, 0, 0.1);
		@extend %fontOpenSans;
		font-size: 26px;
		color: #000;
		@include transition(box-shadow);

		&:hover {
			box-shadow: 0 12px 8px rgba(0, 0, 0, 0.05);
			@include transition(box-shadow);
		}
	}
}

// SECTION frequently :: END
