// SECTION pricing :: START

.pricing {
	overflow: hidden;
	position: relative;
	padding-top: 167px;
	padding-bottom: 175px;

	&__bg {
		z-index: 0;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding-top: 90px;

		img {
			position: relative;
			left: -7px;
			display: block;
			max-width: 100%;
			height: auto;
			margin-left: auto;
			margin-right: auto;
		}
	}

	&__wrapper {
		z-index: 2;
		position: relative;

		&-0 {
			padding-bottom: 122px;
		}
		&-1 {
			padding-bottom: 176px;
		}
		&-2 {}
	}

	&__title {
		padding-bottom: 41px;
		font-size: 76px;
		text-align: center;
		color: #000;
	}

	&__tabs {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		max-width: 221px;
		height: 86px;
		border-radius: 43px;
		@extend %fontOpenSans;
		font-size: 37px;
		color: #000;
		@include transition(background-color, color);

		&:hover {
			background-color: rgba(#008eff, 0.05);
			color: #4f81e2;
			@include transition(background-color, color);
		}

		&.is-active {
			background-color: rgba(#008eff, 0.1);
			color: #4f81e2;
			@include transition(background-color, color);
		}

		&-wrapper {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	&__box {
		cursor: pointer;
		position: relative;
		width: 100%;

		&-wrapper {
			display: flex;
			justify-content: space-between;
			width: 100%;
			max-width: 1740px;
			margin-left: auto;
			margin-right: auto;

			> div {
				z-index: 1;
				cursor: pointer;
				position: relative;
				width: 100%;
				max-width: calc((100% - (18px * 4)) / 5);
				min-height: 100%;
				padding: 77px 11px 133px;
				background-color: #fff;
				box-shadow: 0 3px 44px rgba(0, 0, 0, 0.16);

				&:before {
					opacity: 0;
					content: '';
					z-index: 5;
					position: absolute;
					top: -20px;
					left: -20px;
					width: calc(100% + 40px);
					height: calc(100% + 40px);
					background-color: #79A0EB;
					box-shadow: 0 3px 81px rgba(0, 0, 0, 0.31);
					@include transition(opacity 0.5s);
				}

				&:hover {
					z-index: 2;

					&:before {
						opacity: 1;
						z-index: 0;
						@include transition(opacity 0.5s);
					}

					.pricing__box {
						z-index: 5;

						&-title,
						&-price,
						&-free {
							color: #ffffff;
							@include transition(color);
						}

						&-btn {
							opacity: 0.99;
							border-color: #ffffff;
							background-color: #fff;
							box-shadow: 0 3px 12px rgba(0, 0, 0, 0.31);
							@include transition(border-color, background-color, box-shadow);
						}

						&-line {
							width: calc(100% + 40px);
							margin-left: -20px;
							background-color: rgba(#fff, 0.59);
							@include transition(width, background-color);
						}

						&-detail {
							span,
							p {
								color: #ffffff;
								@include transition(color);
							}
						}

						&-desc {
							li {
								i {
									&:before,
									&:after {
										background-color: #ffffff;
										@include transition(background-color);
									}
								}
								p {
									color: #ffffff;
									@include transition(color);
								}
							}
						}
					}
				}
			}
		}

		&-title,
		&-free {
			text-align: center;
			color: #000;
			@include transition(color);
		}

		&-title {
			padding-bottom: 45px;
			font-size: 57px;
		}

		&-price {
			display: flex;
			justify-content: center;
			position: relative;
			color: #000;
			@include transition(color);

			span,
			p {
				line-height: 1;
			}

			span {
				position: relative;
				top: 20px;
				left: 3px;
				font-size: 24px;
			}

			h3 {
				position: relative;
				left: 6px;
				font-size: 93px;
				line-height: line-height-convert(113,93);
			}

			p {
				position: relative;
				top: 59px;
				font-size: 24px;
			}
		}

		&-free {
			padding-bottom: 35px;
			text-transform: uppercase;
			font-size: 24px;
		}

		&-btn {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			max-width: 193px;
			height: 65px;
			margin-left: auto;
			margin-right: auto;
			background-color: transparent;
			border: 2px solid rgba(#2196f3, 0.99);
			@extend %fontOpenSans;
			font-size: 21px;
			color: #2397f3;
			@include transition(border-color, background-color, box-shadow);
		}

		&-line {
			width: 100%;
			height: 1px;
			background-color: rgba(#707070, 0.13);
			@include transition(width, background-color);

			&-0 {
				margin-top: 39px;
				margin-bottom: 39px;
			}

			&-1 {
				margin-top: 25px;
				margin-bottom: 61px;
			}
		}

		&-detail {
			padding-left: 52px;
			padding-right: 50px;

			li {
				display: flex;
				align-items: center;
				padding-bottom: 12px;

				&:last-of-type {
					padding-bottom: 0;
				}

				span,
				p {
					white-space: nowrap;
					flex: 1;
					@extend %fontOpenSans;
					letter-spacing: -0.2px;
					font-weight: 600;
					font-size: 21px;
					color: #000;
					@include transition(color);
				}

				p {
					text-align: right;
				}
			}
		}

		&-desc {
			padding-left: 56px;
			padding-right: 48px;

			li {
				display: flex;
				align-items: center;
				padding-bottom: 8px;

				&:last-of-type {
					padding-bottom: 0;
				}

				i {
					position: relative;
					width: 18px;
					height: 18px;

					&:before,
					&:after {
						content: '';
						position: absolute;
						border-radius: 2em;
						background-color: #4f81e2;
						@include transition(background-color);
					}

					&:before {
						top: 0;
						left: 50%;
						transform: translateX(-50%);
						width: 4px;
						height: 18px;
					}

					&:after {
						top: 50%;
						left: 0;
						transform: translateY(-50%);
						width: 18px;
						height: 4px;
					}
				}

				p {
					padding-left: 33px;
					letter-spacing: -0.4px;
					@extend %fontOpenSans;
					font-weight: 600;
					font-size: 21px;
					color: #000;
					@include transition(color);
				}
			}
		}
	}

	&__question {
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 48px;

		p {
			color: #f32194;
		}

		a {
			position: relative;
			color: #2196F3;

			&:after {
				content: '';
				position: absolute;
				top: 90%;
				left: 0;
				right: 0;
				width: 95%;
				height: 2px;
				margin-left: auto;
				margin-right: auto;
				background-color: #2196f3;
				@include transition(width);
			}
		}

		img {
			position: absolute;
			top: -6px;
			right: -15px;
		}
	}
}

// SECTION pricing :: END
