// SECTION pricing :: START

.pricing {
	overflow: hidden;
	position: relative;
	padding-top: 125px;
	padding-bottom: 150px;
	@include adaptive(767) {
		padding-top: 100px;
		padding-bottom: 100px;
	}

	&__bg {
		z-index: 0;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding-top: 90px;

		div {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-image: url('../img/img-pricing-bg.svg');
			background-repeat: no-repeat;
			background-position: top center;
		}
	}

	&__wrapper {
		z-index: 2;
		position: relative;

		&-0 {
			padding-bottom: 75px;
		}
		&-1 {
			padding-bottom: 75px;
		}
		&-2 {}
	}

	&__title {
		padding-bottom: 50px;
	}

	&__tabs {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		max-width: 150px;
		height: 55px;
		margin-left: 10px;
		margin-right: 10px;
		border-radius: 2em;
		@extend %fontOpenSans;
		font-size: 20px;
		color: #000;
		@include transition(background-color, color);

		&:hover {
			background-color: rgba(#008eff, 0.05);
			color: $brandColor-blue;
			@include transition(background-color, color);
		}

		&.is-active {
			background-color: rgba(#008eff, 0.1);
			color: $brandColor-blue;
			@include transition(background-color, color);
		}

		&-wrapper {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	&__box {
		cursor: pointer;
		position: relative;
		width: 100%;

		&-wrapper {
			display: flex;
			justify-content: space-between;
			@include adaptive(1199) {
				flex-wrap: wrap;
				justify-content: center;
			}

			> div {
				z-index: 1;
				cursor: pointer;
				position: relative;
				width: 100%;
				max-width: calc((100% - (15px * 4)) / 5);
				min-height: 100%;
				padding: 45px 5px 80px;
				background-color: #fff;
				box-shadow: 0 2px 22px rgba(0, 0, 0, 0.16);
				@include adaptive(1199) {
					max-width: calc((100% - 90px) / 3);
					padding-bottom: 45px;
					margin-bottom: 15px;
					margin-left: 15px;
					margin-right: 15px;
				}
				@include adaptive(1023) {
					max-width: calc((100% - 60px) / 2);
				}
				@include adaptive(767) {
					max-width: calc((100% - 20px) / 2);
					margin-bottom: 10px;
					margin-left: 5px;
					margin-right: 5px;
				}
				@include adaptive(575) {
					max-width: 100%;
				}

				&:before {
					opacity: 0;
					visibility: hidden;
					content: '';
					z-index: 5;
					position: absolute;
					top: -15px;
					left: -15px;
					width: calc(100% + 30px);
					height: calc(100% + 30px);
					background-color: $brandColor-blue;
					box-shadow: 0 2px 40px rgba(0, 0, 0, 0.31);
					@include transition(opacity 0.5s);
				}

				&.is-active {
					z-index: 2;

					&:before {
						opacity: 1;
						z-index: 0;
						visibility: visible;
						@include transition(opacity 0.5s);
					}

					.pricing__box {
						z-index: 5;

						&-title,
						&-price,
						&-free {
							color: #ffffff;
							@include transition(color);
						}

						&-btn {
							border-color: $brandColor-blue;
							background-color: #fff;
							box-shadow: 0 3px 12px rgba(0, 0, 0, 0.31);
							color: $brandColor-blue;
							@include transition(border-color, background-color, box-shadow);
						}

						&-line {
							width: calc(100% + 30px);
							margin-left: -15px;
							background-color: rgba(#fff, 0.59);
							@include transition(width, background-color);
						}

						&-detail {
							span,
							p {
								color: #ffffff;
								@include transition(color);
							}
						}

						&-desc {
							li {
								i {
									&:before,
									&:after {
										background-color: #ffffff;
										@include transition(background-color);
									}
								}
								p {
									color: #ffffff;
									@include transition(color);
								}
							}
						}
					}
				}
			}
		}

		&-title,
		&-free {
			text-align: center;
			color: #000;
			@include transition(color);
		}

		&-title {
			padding-bottom: 30px;
			font-size: 33px;
			@extend %fontLora;
		}

		&-price {
			display: flex;
			justify-content: center;
			position: relative;
			color: #000;
			@extend %fontLora;
			@include transition(color);

			span,
			p {
				line-height: 1;
			}

			span {
				position: relative;
				top: 5px;
				left: 3px;
				font-size: 22px;
			}

			h3 {
				position: relative;
				left: 6px;
				font-size: 55px;
				line-height: 1;
			}

			p {
				position: relative;
				top: 22px;
				padding-left: 5px;
				font-size: 22px;
			}
		}

		&-free {
			padding-top: 10px;
			padding-bottom: 30px;
			text-transform: uppercase;
			font-size: 18px;
		}

		&-btn {
			display: flex;
			align-items: center;
			justify-content: center;
			//width: 100%;
			max-width: 80%;
			height: 55px;
			margin-left: auto;
			margin-right: auto;
			//background-color: transparent;
			//border: 1px solid rgba($brandColor-blue, 0.99);
			//@extend %fontOpenSans;
			//font-size: 18px;
			//color: $brandColor-blue;
			@include transition(border-color, background-color, box-shadow);
		}

		&-line {
			width: 100%;
			height: 1px;
			margin-top: 30px;
			margin-bottom: 30px;
			background-color: rgba(#707070, 0.13);
			@include transition(width, background-color);
		}

		&-detail {
			padding-left: 25px;
			padding-right: 10px;

			li {
				display: flex;
				align-items: center;
				padding-bottom: 10px;

				&:last-of-type {
					padding-bottom: 0;
				}

				span,
				p {
					white-space: nowrap;
					flex: 1;
					letter-spacing: -0.2px;
					font-weight: 500;
					color: #000;
					@include transition(color);
				}

				p {
					text-align: right;
				}
			}
		}

		&-desc {
			padding-left: 25px;
			padding-right: 10px;

			li {
				display: flex;
				align-items: center;
				padding-bottom: 10px;

				&:last-of-type {
					padding-bottom: 0;
				}

				i {
					position: relative;
					width: 14px;
					height: 14px;

					&:before,
					&:after {
						content: '';
						position: absolute;
						border-radius: 2em;
						background-color: $brandColor-blue;
						@include transition(background-color);
					}

					&:before {
						top: 0;
						left: 50%;
						transform: translateX(-50%);
						width: 3px;
						height: 100%;
					}

					&:after {
						top: 50%;
						left: 0;
						transform: translateY(-50%);
						width: 100%;
						height: 3px;
					}
				}

				p {
					padding-left: 15px;
					letter-spacing: -0.4px;
					font-weight: 500;
					color: #000;
					@include transition(color);
				}
			}
		}
	}

	&__question {
		display: flex;
		align-items: center;
		justify-content: center;

		p,
		a {
			font-weight: 400;
			@include adaptive(575) {
				font-size: 18px;
			}
		}

		p {
			color: #f32194;
		}

		a {
			position: relative;
			color: $brandColor-blue;

			&:after {
				content: '';
				position: absolute;
				top: 90%;
				left: 0;
				right: 0;
				width: 95%;
				height: 2px;
				margin-left: auto;
				margin-right: auto;
				background-color: $brandColor-blue;
			}
		}

		img {
			position: absolute;
			top: 0;
			right: -15px;
		}
	}
}

// SECTION pricing :: END
