// SECTION welcome :: START

.welcome {
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: $brandColor-blue;
	@include adaptive(767) {
		padding-top: 75px;
		padding-bottom: 75px;
	}

	&__sheet {
		display: flex;
		justify-content: center;
	}

	&__title {
		padding-bottom: 50px;
		color: #fff;
	}

	img {
		display: block;
		max-width: 100%;
		height: auto;
		margin-left: auto;
		margin-right: auto;
	}
}

// SECTION welcome :: END
