//- MIXIN :: START

include ./_mixin/_title
include ./_mixin/_subtitle
include ./_mixin/_btn
include ./_mixin/_svg-icon
include ./_mixin/_picture
include ./_mixin/_logotype
include ./_mixin/_hamburger
include ./_mixin/_swiper
include ./_mixin/_modal
include ./_mixin/_nav
include ./_mixin/_form

//- MIXIN :: END

mixin sheetSVG()
	svg#img-sheet(xmlns='http://www.w3.org/2000/svg', width='126.122', height='107.879', viewBox='0 0 126.122 107.879')
		g(transform='translate(-5733.685 -1494.76) rotate(-70)')
			path#sheet-0(d='M49.477,0C76.8,0,98.954,25.678,98.954,25.678S76.8,51.356,49.477,51.356,0,25.678,0,25.678,22.152,0,49.477,0Z', transform='matrix(0.809, 0.588, -0.588, 0.809, 509.681, 5932.505)', fill='#fff')
			path#sheet-1(d='M81.694,76.822S49.25,62.093,29.208,43.93,0,0,0,0', transform='translate(481.381 5927.816)', fill='none', stroke='#99b7f1', stroke-linecap='round', stroke-width='2')

mixin circleLineSVG()
	svg#img-fun-circle(xmlns="http://www.w3.org/2000/svg" width="205.793" height="409.354" viewBox="0 0 205.793 409.354")
		g(transform="translate(-1683 -4473.906)")
			g(transform="translate(1683 4473.906)")
				path(id="spiral" d="M73.434,159.583A84.873,84.873,0,0,0,158.212,74.8,74.8,74.8,0,0,0,8.6,74.8a64.831,64.831,0,0,0,129.661,0,54.857,54.857,0,1,0-109.713,0,44.883,44.883,0,1,0,89.766,0,34.909,34.909,0,1,0-69.818,0,24.935,24.935,0,0,0,49.87,0,14.961,14.961,0,0,0-29.922,0v4.987h9.974V74.8a4.987,4.987,0,1,1,9.974,0,14.961,14.961,0,1,1-29.922,0,24.935,24.935,0,1,1,49.87,0,34.909,34.909,0,0,1-69.818,0,44.883,44.883,0,0,1,89.766,0,54.857,54.857,0,0,1-109.713,0,64.831,64.831,0,1,1,129.661,0,74.814,74.814,0,0,1-139.6,37.4L0,117.2a85.1,85.1,0,0,0,73.434,42.384Zm0,0" fill="#2196f3")
			path(d="M0,0,.5,245.409" transform="translate(1754.825 4637.846)" fill="#2196f3" stroke="#2196f3" stroke-width="6")
			g(transform="translate(1781.854 4632.869)")
				path(id="spiral-2" d="M49.636,107.866a57.368,57.368,0,0,0,57.3-57.3,50.562,50.562,0,0,0-101.125,0,43.821,43.821,0,1,0,87.641,0,37.079,37.079,0,0,0-74.158,0,30.337,30.337,0,1,0,60.675,0,23.6,23.6,0,1,0-47.192,0,16.854,16.854,0,1,0,33.708,0,10.112,10.112,0,0,0-20.225,0v3.371h6.742V50.562a3.371,3.371,0,0,1,6.742,0,10.112,10.112,0,1,1-20.225,0,16.854,16.854,0,0,1,33.708,0,23.6,23.6,0,0,1-47.192,0,30.337,30.337,0,0,1,60.675,0,37.079,37.079,0,1,1-74.158,0,43.821,43.821,0,0,1,87.641,0A50.569,50.569,0,0,1,5.836,75.84L0,79.218a57.524,57.524,0,0,0,49.636,28.649Zm0,0" fill="#2196f3")
			path(d="M0,0V132.425" transform="translate(1835.396 4750.83)" fill="#2196f3" stroke="#2196f3" stroke-width="6")

