// SECTION everyone :: START

section#everyone.everyone

	.everyone__bg
		+circleLineSVG()

	.everyone__wrapper

		.container

			.row.align-items-center
				.col-md-8.col-12
					
					img(src="img/img-everyone-dashboard.png" srcset="img/img-everyone-dashboard@2x.png 2x" alt="" title="")

				.col-md-4.col-12

					i.icon-font.icon-quotes
					h2.everyone__title.c-title!= "Yes, everyone can do it"
					p.everyone__desc!= "When someone fills a form on the website, send me a notification email first and then added to the nurturing campaign of the mail chimp"


// SECTION everyone :: END
