// SECTION good :: START

section#good.good

	.good__wrapper

		.container

			h2.good__title.c-title!= "You'll be in Good Company"

			.good__img-wrapper.d-flex.align-items-center.justify-content-center.flex-wrap.flex-sm-nowrap
				.good__img.px-3
					img.img-fluid(src="img/img-good-1.png" srcset="img/img-good-1@2x.png 2x" alt="" title="")
				.good__img.px-3
					img.img-fluid(src="img/img-good-2.png" srcset="img/img-good-2@2x.png 2x" alt="" title="")
				.good__img.px-3
					img.img-fluid(src="img/img-good-3.png" srcset="img/img-good-3@2x.png 2x" alt="" title="")
				.good__img.px-3
					img.img-fluid(src="img/img-good-4.png" srcset="img/img-good-4@2x.png 2x" alt="" title="")
				.good__img.px-3
					img.img-fluid(src="img/img-good-5.png" srcset="img/img-good-5@2x.png 2x" alt="" title="")

			.good__btn-wrapper
				a.good__btn.c-btn.c-btn--bg(href="#" class="" title="")!= "TRY NOW FOR FREE"

				img(src="img/img-good-robot.png" srcset="img/img-good-robot@2x.png 2x" alt="" title="")

// SECTION good :: END
