// SECTION main :: START

section#main.main

	.main__bg
		.main__bg-content
			img(src="img/img-main-bg.jpg" srcset="img/img-main-bg@2x.jpg 2x" alt="" title="")

	.container
		.row
			.col-12.col-md-6.offse-md-6

				.main__wrapper
					h1.main__title.c-title!= "Wave Goodbye To Your Busy Work life"
					p.main__subtitle.c-text!= "Integrate your cloud applications.<br>Automate marketing, sales and <br>business processes."

					a.main__btn.c-btn.c-btn--bg(href="#" class="" title="")!= "Get Started for Free"

// SECTION main :: END
