// SECTION main :: START

section#main.main

	.main__bg

	.container
		.row
			.col-6.offse-6

				.main__wrapper
					h2.main__title.c-title!= "Wave Goodbye To Your Busy Work life"
					p.main__subtitle!= "Integrate your cloud applications.<br>Automate marketing, sales and business processes."

					a.main__btn.c-btn.c-btn--bg(href="#" class="" title="")!= "Get Started for Free"

// SECTION main :: END
