// SECTION supported :: START

section#supported.supported

	.supported__bg.parallax-js
		img(data-stellar-ratio="0.9" src="img/img-supported-bg.svg" alt="" title="")

	.supported__wrapper

		.container

			h1.supported__title.c-title!= "Supported Apps"
			h2.supported__subtitle.c-subtitle!= "All popular apps for - CRM, Marketing, Helpdesk, Payments, Web forms, Collaboration and more"

			.supported__block-wrapper
				.supported__block.supported__block-1.supported__block--paypal
					img(src="img/img-supported-paypal.png" srcset="img/img-supported-paypal@2x.png 2x" alt="" title="")
				.supported__block.supported__block-12.supported__block--more-1
					img(src="img/img-supported-paypal.png" srcset="img/img-supported-paypal@2x.png 2x" alt="" title="")
				.supported__block.supported__block-2.supported__block--facebook
					img(src="img/img-supported-facebook.png" srcset="img/img-supported-facebook@2x.png 2x" alt="" title="")
				.supported__block.supported__block-3.supported__block--slack
					img(src="img/img-supported-slack.png" srcset="img/img-supported-slack@2x.png 2x" alt="" title="")
				.supported__block.supported__block-14.supported__block--more-3
					img(src="img/img-supported-w.png" srcset="img/img-supported-w@2x.png 2x" alt="" title="")
				.supported__block.supported__block-10.supported__block--w
					img(src="img/img-supported-w.png" srcset="img/img-supported-w@2x.png 2x" alt="" title="")
				.supported__block.supported__block-9.supported__block--stripe
					img(src="img/img-supported-stripe.png" srcset="img/img-supported-stripe@2x.png 2x" alt="" title="")

				.supported__block.supported__block-11.supported__block--q
					img(src="img/img-supported-q.png" srcset="img/img-supported-q@2x.png 2x" alt="" title="")
				.supported__block.supported__block-7.supported__block--social
					img(src="img/img-supported-social.png" srcset="img/img-supported-social@2x.png 2x" alt="" title="")
				.supported__block.supported__block-4.supported__block--mailchimp
					img(src="img/img-supported-mailchimp.png" srcset="img/img-supported-mailchimp@2x.png 2x" alt="" title="")
				.supported__block.supported__block-5.supported__block--trello
					img(src="img/img-supported-trello.png" srcset="img/img-supported-trello@2x.png 2x" alt="" title="")
				.supported__block.supported__block-13.supported__block--more-2
					img(src="img/img-supported-saleforce.png" srcset="img/img-supported-saleforce@2x.png 2x" alt="" title="")
				.supported__block.supported__block-6.supported__block--salesforce
					img(src="img/img-supported-saleforce.png" srcset="img/img-supported-saleforce@2x.png 2x" alt="" title="")
				.supported__block.supported__block-8.supported__block--podio
					img(src="img/img-supported-podio.png" srcset="img/img-supported-podio@2x.png 2x" alt="" title="")




// SECTION supported :: END
