// COMMON :: START

// copyright
.copyright {
	&__text {
		font-size: 14px;
		color: rgba(#292929, 0.7);
	}
}
// copyright :: end

// social
.social {
	display: flex;
	align-items: center;

	&--footer {
		@include adaptive(424) {
			flex-direction: column;
			width: 100%;
		}
	}

	&__title {
		margin-right: 60px;
		font-family: 'Lora', sans-serif;
		font-size: 24px;
		color: #000;
		@include adaptive(424) {
			margin-right: 0;
			margin-bottom: 20px;
			text-align: center;
		}
	}

	&__list {
		display: flex;
		align-items: center;

		&-item {
			margin-right: 30px;

			&:last-of-type {
				margin-right: 0;
			}
		}

		a {
			display: flex;

			.icon-font {
				color: #000000;
				@include transition(color);

				&:hover {
					@include transition(color);
				}

				@each $className, $fz, $c in
					('facebook', 26px, #3b5999),
					('instagram', 28px, #e4405f),
					('twitter', 30px, #55acee),
					('linkedin', 26px, #0077B5),
					('youtube', 36px, #cd201f),
				{
					&.icon {
						&-#{$className} {
							font-size: $fz;

							&:hover {
								color: $c;
							}
						}
					}
				}
			}
		}
	}
}
// social :: end

// animation keyframes
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
// animation keyframes :: end

// COMMON :: END
