@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lora:400,700|Open+Sans:300,400,600,700,800");
/* line 6, src/scss/_utilities/_extend.scss */
.nav__list-link, .copyright__text, .header__btn-link, .header__btn-btn, .footer__title, .fun__subtitle, .fun__btn, .pricing__tabs, .pricing__box-btn, .pricing__box-detail li span,
.pricing__box-detail li p, .pricing__box-desc li p, .frequently__block, .frequently__btn {
  font-family: 'Open Sans', sans-serif;
}

@font-face {
  font-family: "iconFont";
  src: url("../fonts/iconFont.eot");
  src: url("../fonts/iconFont.eot?#iefix") format("eot"), url("../fonts/iconFont.woff2") format("woff2"), url("../fonts/iconFont.woff") format("woff"), url("../fonts/iconFont.ttf") format("truetype"), url("../fonts/iconFont.svg#iconFont") format("svg");
}

/* line 23, src/scss/_generated/_spriteFont.scss */
.icon-facebook:before, .icon-instagram:before, .icon-linkedin:before, .icon-twitter:before, .icon-youtube:before {
  font-family: "iconFont", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
}

/* line 50, src/scss/_generated/_spriteFont.scss */
.icon-facebook:before {
  content: "";
}

/* line 50, src/scss/_generated/_spriteFont.scss */
.icon-instagram:before {
  content: "";
}

/* line 50, src/scss/_generated/_spriteFont.scss */
.icon-linkedin:before {
  content: "";
}

/* line 50, src/scss/_generated/_spriteFont.scss */
.icon-twitter:before {
  content: "";
}

/* line 50, src/scss/_generated/_spriteFont.scss */
.icon-youtube:before {
  content: "";
}

/* line 1, src/scss/_shared/_main-setting-reset.scss */
html,
body {
  width: 100%;
  min-height: 100vh;
}

/* line 6, src/scss/_shared/_main-setting-reset.scss */
html.is-hideScroll,
body.is-hideScroll {
  width: 100%;
  overflow: hidden !important;
}

/* line 13, src/scss/_shared/_main-setting-reset.scss */
html {
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 19, src/scss/_shared/_main-setting-reset.scss */
body {
  overflow-x: hidden;
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #fbfbfb;
  line-height: 1.42857143;
  font-size: 16px;
  font-weight: normal;
  font-family: 'Lora', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 33, src/scss/_shared/_main-setting-reset.scss */
body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

/* line 38, src/scss/_shared/_main-setting-reset.scss */
body > .body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  padding-top: 157px;
}

@media screen and (max-width: 1535px) {
  /* line 38, src/scss/_shared/_main-setting-reset.scss */
  body > .body {
    padding-top: 130px;
  }
}

@media screen and (max-width: 1439px) {
  /* line 38, src/scss/_shared/_main-setting-reset.scss */
  body > .body {
    padding-top: 100px;
  }
}

@media screen and (max-width: 1199px) {
  /* line 38, src/scss/_shared/_main-setting-reset.scss */
  body > .body {
    padding-top: 80px;
  }
}

/* line 54, src/scss/_shared/_main-setting-reset.scss */
body > .body--start {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

/* line 61, src/scss/_shared/_main-setting-reset.scss */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 64, src/scss/_shared/_main-setting-reset.scss */
*:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 71, src/scss/_shared/_main-setting-reset.scss */
button,
input,
optgroup,
select,
textarea {
  font-size: 100%;
  margin: 0;
}

/* line 81, src/scss/_shared/_main-setting-reset.scss */
button,
input {
  overflow: visible;
}

/* line 87, src/scss/_shared/_main-setting-reset.scss */
button[disabled] {
  opacity: 0.55;
  cursor: not-allowed;
}

/* line 93, src/scss/_shared/_main-setting-reset.scss */
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

/* line 99, src/scss/_shared/_main-setting-reset.scss */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 105, src/scss/_shared/_main-setting-reset.scss */
textarea {
  overflow: auto;
}

/* line 110, src/scss/_shared/_main-setting-reset.scss */
p,
h1, h2, h3, h4, h5, h6,
hr {
  margin: 0;
  padding: 0;
}

/* line 118, src/scss/_shared/_main-setting-reset.scss */
ul {
  margin: 0;
  padding: 0;
}

/* line 123, src/scss/_shared/_main-setting-reset.scss */
ul li {
  list-style: none;
}

/* line 129, src/scss/_shared/_main-setting-reset.scss */
a {
  outline: none;
  text-decoration: none;
}

/* line 134, src/scss/_shared/_main-setting-reset.scss */
a:hover, a:focus {
  text-decoration: none;
}

/* line 141, src/scss/_shared/_main-setting-reset.scss */
input[type="text"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* line 145, src/scss/_shared/_main-setting-reset.scss */
picture {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 8, src/scss/_shared/_grid.scss */
.c-grid, .c-grid-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

/* line 27, src/scss/_shared/_grid.scss */
.c-grid-fluid {
  max-width: 100%;
}

/* line 5, src/scss/_shared/_common.scss */
.logo--header {
  position: relative;
  top: -4px;
}

@media screen and (max-width: 1199px) {
  /* line 5, src/scss/_shared/_common.scss */
  .logo--header {
    top: 0;
  }
}

/* line 13, src/scss/_shared/_common.scss */
.logo__btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 18, src/scss/_shared/_common.scss */
.logo__img {
  display: block;
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 1199px) {
  /* line 23, src/scss/_shared/_common.scss */
  .logo__img:nth-of-type(1) {
    width: -webkit-calc(53px / 2);
    width: calc(53px / 2);
  }
}

@media screen and (max-width: 1199px) {
  /* line 28, src/scss/_shared/_common.scss */
  .logo__img:nth-of-type(2) {
    width: -webkit-calc(241px / 2);
    width: calc(241px / 2);
  }
}

/* line 39, src/scss/_shared/_common.scss */
.nav--header {
  position: relative;
  left: -25px;
}

@media screen and (max-width: 1439px) {
  /* line 39, src/scss/_shared/_common.scss */
  .nav--header {
    left: 0;
  }
}

/* line 48, src/scss/_shared/_common.scss */
.nav--footer .nav__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

/* line 55, src/scss/_shared/_common.scss */
.nav--footer .nav__list-item:last-of-type .nav__list-link {
  margin-bottom: 0;
}

/* line 61, src/scss/_shared/_common.scss */
.nav--footer .nav__list-link {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 25px;
  font-size: 22px;
  color: rgba(41, 41, 41, 0.7);
}

/* line 71, src/scss/_shared/_common.scss */
.nav--footer-row .nav__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 76, src/scss/_shared/_common.scss */
.nav--footer-row .nav__list-item {
  margin-right: 71px;
}

/* line 80, src/scss/_shared/_common.scss */
.nav--footer-row .nav__list-link {
  margin-bottom: 0;
}

/* line 87, src/scss/_shared/_common.scss */
.nav__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 91, src/scss/_shared/_common.scss */
.nav__list-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 95, src/scss/_shared/_common.scss */
.nav__list-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 31px;
  margin-right: 31px;
  font-size: 30px;
  color: #707070;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

@media screen and (max-width: 1599px) {
  /* line 95, src/scss/_shared/_common.scss */
  .nav__list-link {
    font-size: 26px;
  }
}

@media screen and (max-width: 1535px) {
  /* line 95, src/scss/_shared/_common.scss */
  .nav__list-link {
    font-size: 22px;
  }
}

@media screen and (max-width: 1439px) {
  /* line 95, src/scss/_shared/_common.scss */
  .nav__list-link {
    margin-left: 14px;
    margin-right: 15px;
  }
}

@media screen and (max-width: 1199px) {
  /* line 95, src/scss/_shared/_common.scss */
  .nav__list-link {
    font-size: 18px;
  }
}

/* line 118, src/scss/_shared/_common.scss */
.nav__list-link.is-active {
  color: #2196f3;
}

/* line 122, src/scss/_shared/_common.scss */
.nav__list-link:hover {
  color: #2196f3;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* line 133, src/scss/_shared/_common.scss */
.copyright__text {
  font-size: 22px;
  color: rgba(41, 41, 41, 0.7);
}

/* line 142, src/scss/_shared/_common.scss */
.social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 148, src/scss/_shared/_common.scss */
.social__title {
  margin-right: 81px;
  font-size: 36px;
  color: #000;
}

/* line 154, src/scss/_shared/_common.scss */
.social__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 158, src/scss/_shared/_common.scss */
.social__list-item {
  margin-right: 60px;
}

/* line 162, src/scss/_shared/_common.scss */
.social__list a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 165, src/scss/_shared/_common.scss */
.social__list a .icon-font {
  color: #000000;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* line 169, src/scss/_shared/_common.scss */
.social__list a .icon-font:hover {
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* line 174, src/scss/_shared/_common.scss */
.social__list a .icon-font.icon-facebook {
  font-size: 33px;
}

/* line 177, src/scss/_shared/_common.scss */
.social__list a .icon-font.icon-facebook:hover {
  color: #3b5999;
}

/* line 181, src/scss/_shared/_common.scss */
.social__list a .icon-font.icon-instagram {
  font-size: 36px;
}

/* line 184, src/scss/_shared/_common.scss */
.social__list a .icon-font.icon-instagram:hover {
  color: #e4405f;
}

/* line 188, src/scss/_shared/_common.scss */
.social__list a .icon-font.icon-twitter {
  font-size: 40px;
}

/* line 191, src/scss/_shared/_common.scss */
.social__list a .icon-font.icon-twitter:hover {
  color: #55acee;
}

/* line 195, src/scss/_shared/_common.scss */
.social__list a .icon-font.icon-linkedin {
  font-size: 37px;
}

/* line 198, src/scss/_shared/_common.scss */
.social__list a .icon-font.icon-linkedin:hover {
  color: #0077B5;
}

/* line 202, src/scss/_shared/_common.scss */
.social__list a .icon-font.icon-youtube {
  font-size: 46px;
}

/* line 205, src/scss/_shared/_common.scss */
.social__list a .icon-font.icon-youtube:hover {
  color: #cd201f;
}

/* line 1, src/scss/_shared/_iconFont.scss */
.icon-font {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  line-height: 1;
}

/* line 3, src/scss/_components/_header.scss */
.header {
  z-index: 1001;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  -webkit-box-shadow: 0 2px 18px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 18px rgba(0, 0, 0, 0.1);
}

/* line 12, src/scss/_components/_header.scss */
.header__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 157px;
  padding-left: 81px;
  padding-right: 110px;
}

@media screen and (max-width: 1599px) {
  /* line 12, src/scss/_components/_header.scss */
  .header__wrapper {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (max-width: 1535px) {
  /* line 12, src/scss/_components/_header.scss */
  .header__wrapper {
    min-height: 130px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 1439px) {
  /* line 12, src/scss/_components/_header.scss */
  .header__wrapper {
    min-height: 100px;
  }
}

@media screen and (max-width: 1199px) {
  /* line 12, src/scss/_components/_header.scss */
  .header__wrapper {
    min-height: 80px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* line 38, src/scss/_components/_header.scss */
.header__wrapper-left, .header__wrapper-right {
  width: 100%;
  max-width: 345px;
}

@media screen and (max-width: 1439px) {
  /* line 38, src/scss/_components/_header.scss */
  .header__wrapper-left, .header__wrapper-right {
    max-width: 294px;
  }
}

@media screen and (max-width: 1199px) {
  /* line 38, src/scss/_components/_header.scss */
  .header__wrapper-left, .header__wrapper-right {
    max-width: 200px;
  }
}

/* line 52, src/scss/_components/_header.scss */
.header__wrapper-middle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

/* line 59, src/scss/_components/_header.scss */
.header__wrapper-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 65, src/scss/_components/_header.scss */
.header__btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

/* line 71, src/scss/_components/_header.scss */
.header__btn-link, .header__btn-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
}

@media screen and (max-width: 1599px) {
  /* line 71, src/scss/_components/_header.scss */
  .header__btn-link, .header__btn-btn {
    font-size: 26px;
  }
}

@media screen and (max-width: 1535px) {
  /* line 71, src/scss/_components/_header.scss */
  .header__btn-link, .header__btn-btn {
    font-size: 22px;
  }
}

@media screen and (max-width: 1199px) {
  /* line 71, src/scss/_components/_header.scss */
  .header__btn-link, .header__btn-btn {
    font-size: 18px;
  }
}

/* line 88, src/scss/_components/_header.scss */
.header__btn-link {
  color: #707070;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

@media screen and (max-width: 1535px) {
  /* line 88, src/scss/_components/_header.scss */
  .header__btn-link {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

/* line 96, src/scss/_components/_header.scss */
.header__btn-link:hover {
  color: #2196f3;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* line 102, src/scss/_components/_header.scss */
.header__btn-btn {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 206px;
  height: 69px;
  background-color: #2196f3;
  border: 2px solid #2196f3;
  color: #fff;
  -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

@media screen and (max-width: 1535px) {
  /* line 102, src/scss/_components/_header.scss */
  .header__btn-btn {
    max-width: 180px;
    height: 55px;
  }
}

@media screen and (max-width: 1199px) {
  /* line 102, src/scss/_components/_header.scss */
  .header__btn-btn {
    max-width: 130px;
    height: 50px;
  }
}

/* line 120, src/scss/_components/_header.scss */
.header__btn-btn:hover {
  background-color: transparent;
  color: #2196f3;
  -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* line 3, src/scss/_components/_footer.scss */
.footer {
  padding-top: 123px;
  padding-bottom: 90px;
}

/* line 7, src/scss/_components/_footer.scss */
.footer .c-grid {
  max-width: 1720px;
}

/* line 12, src/scss/_components/_footer.scss */
.footer__wrapper-0, .footer__wrapper-1 {
  border-bottom: 1px solid rgba(112, 112, 112, 0.16);
}

/* line 17, src/scss/_components/_footer.scss */
.footer__wrapper-0 {
  padding-bottom: 48px;
}

/* line 21, src/scss/_components/_footer.scss */
.footer__wrapper-1 {
  padding-top: 78px;
  padding-bottom: 179px;
}

/* line 26, src/scss/_components/_footer.scss */
.footer__wrapper-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 58px;
}

/* line 34, src/scss/_components/_footer.scss */
.footer__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

/* line 39, src/scss/_components/_footer.scss */
.footer__col {
  width: 100%;
  max-width: 100%;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-right: 15px;
}

/* line 51, src/scss/_components/_footer.scss */
.footer__title {
  padding-bottom: 39px;
  font-size: 26px;
  color: #292929;
}

/* line 3, src/scss/_components/common/_fun.scss */
.fun {
  overflow: hidden;
  position: relative;
  padding-top: 160px;
  padding-bottom: 153px;
  background-color: #ffffff;
}

/* line 10, src/scss/_components/common/_fun.scss */
.fun__bg {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 18, src/scss/_components/common/_fun.scss */
.fun__bg #img-fun-circle {
  position: absolute;
  bottom: 0;
  left: 153px;
}

/* line 24, src/scss/_components/common/_fun.scss */
.fun__bg-sheet {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 31, src/scss/_components/common/_fun.scss */
.fun__bg-sheet svg {
  position: absolute;
}

/* line 34, src/scss/_components/common/_fun.scss */
.fun__bg-sheet svg:nth-of-type(1) {
  top: 87px;
  left: 62px;
}

/* line 38, src/scss/_components/common/_fun.scss */
.fun__bg-sheet svg:nth-of-type(2) {
  top: 50%;
  left: 25%;
}

/* line 42, src/scss/_components/common/_fun.scss */
.fun__bg-sheet svg:nth-of-type(3) {
  top: 50%;
  right: 25%;
}

/* line 46, src/scss/_components/common/_fun.scss */
.fun__bg-sheet svg:nth-of-type(4) {
  top: 55%;
  right: 122px;
}

/* line 51, src/scss/_components/common/_fun.scss */
.fun__bg-sheet svg #sheet-0 {
  fill: rgba(33, 150, 243, 0.09);
}

/* line 54, src/scss/_components/common/_fun.scss */
.fun__bg-sheet svg #sheet-1 {
  stroke: #99B7F1;
}

/* line 61, src/scss/_components/common/_fun.scss */
.fun__wrapper {
  z-index: 2;
  position: relative;
}

/* line 66, src/scss/_components/common/_fun.scss */
.fun__title, .fun__subtitle {
  text-align: center;
  color: #000000;
}

/* line 72, src/scss/_components/common/_fun.scss */
.fun__title {
  font-size: 99px;
}

/* line 76, src/scss/_components/common/_fun.scss */
.fun__subtitle {
  padding-bottom: 61px;
  font-weight: 300;
  font-size: 45px;
}

/* line 83, src/scss/_components/common/_fun.scss */
.fun__btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 567px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  border: 2px solid #4f81e2;
  font-size: 32px;
  line-height: 48px;
  color: #4f81e2;
  -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* line 100, src/scss/_components/common/_fun.scss */
.fun__btn:hover {
  background-color: #4f81e2;
  color: #ffffff;
  -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* line 3, src/scss/_components/plans/_pricing.scss */
.pricing {
  overflow: hidden;
  position: relative;
  padding-top: 176px;
  padding-bottom: 180px;
}

/* line 9, src/scss/_components/plans/_pricing.scss */
.pricing__bg {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 70px;
}

/* line 18, src/scss/_components/plans/_pricing.scss */
.pricing__bg img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

/* line 27, src/scss/_components/plans/_pricing.scss */
.pricing__wrapper {
  z-index: 2;
  position: relative;
}

/* line 31, src/scss/_components/plans/_pricing.scss */
.pricing__wrapper-0 {
  padding-bottom: 102px;
}

/* line 34, src/scss/_components/plans/_pricing.scss */
.pricing__wrapper-1 {
  padding-bottom: 145px;
}

/* line 40, src/scss/_components/plans/_pricing.scss */
.pricing__title {
  padding-bottom: 48px;
  font-size: 76px;
  text-align: center;
  color: #000;
}

/* line 47, src/scss/_components/plans/_pricing.scss */
.pricing__tabs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 221px;
  height: 86px;
  -webkit-border-radius: 43px;
          border-radius: 43px;
  font-size: 37px;
  color: #000;
  -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* line 60, src/scss/_components/plans/_pricing.scss */
.pricing__tabs:hover {
  background-color: rgba(0, 142, 255, 0.05);
  color: #4f81e2;
  -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* line 66, src/scss/_components/plans/_pricing.scss */
.pricing__tabs.is-active {
  background-color: rgba(0, 142, 255, 0.1);
  color: #4f81e2;
  -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* line 72, src/scss/_components/plans/_pricing.scss */
.pricing__tabs-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* line 79, src/scss/_components/plans/_pricing.scss */
.pricing__box {
  cursor: pointer;
  position: relative;
  width: 100%;
}

/* line 84, src/scss/_components/plans/_pricing.scss */
.pricing__box-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 1740px;
  margin-left: auto;
  margin-right: auto;
}

/* line 92, src/scss/_components/plans/_pricing.scss */
.pricing__box-wrapper > div {
  z-index: 1;
  position: relative;
  width: 100%;
  max-width: -webkit-calc((100% - (18px * 4)) / 5);
  max-width: calc((100% - (18px * 4)) / 5);
  min-height: 100%;
  padding: 83px 11px 94px;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 44px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 44px rgba(0, 0, 0, 0.16);
}

/* line 102, src/scss/_components/plans/_pricing.scss */
.pricing__box-wrapper > div:before {
  opacity: 0;
  content: '';
  z-index: 5;
  position: absolute;
  top: -20px;
  left: -20px;
  width: -webkit-calc(100% + 40px);
  width: calc(100% + 40px);
  height: -webkit-calc(100% + 40px);
  height: calc(100% + 40px);
  background-color: #79A0EB;
  -webkit-box-shadow: 0 3px 81px rgba(0, 0, 0, 0.31);
          box-shadow: 0 3px 81px rgba(0, 0, 0, 0.31);
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

/* line 116, src/scss/_components/plans/_pricing.scss */
.pricing__box-wrapper > div:hover {
  z-index: 2;
}

/* line 119, src/scss/_components/plans/_pricing.scss */
.pricing__box-wrapper > div:hover:before {
  opacity: 1;
  z-index: 3;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

/* line 125, src/scss/_components/plans/_pricing.scss */
.pricing__box-wrapper > div:hover .pricing__box {
  z-index: 5;
}

/* line 128, src/scss/_components/plans/_pricing.scss */
.pricing__box-wrapper > div:hover .pricing__box-title, .pricing__box-wrapper > div:hover .pricing__box-price, .pricing__box-wrapper > div:hover .pricing__box-free {
  color: #ffffff;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* line 135, src/scss/_components/plans/_pricing.scss */
.pricing__box-wrapper > div:hover .pricing__box-btn {
  opacity: 0.99;
  border-color: #ffffff;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.31);
          box-shadow: 0 3px 12px rgba(0, 0, 0, 0.31);
  -webkit-transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  -o-transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}

/* line 143, src/scss/_components/plans/_pricing.scss */
.pricing__box-wrapper > div:hover .pricing__box-line {
  width: -webkit-calc(100% + 40px);
  width: calc(100% + 40px);
  margin-left: -20px;
  background-color: rgba(255, 255, 255, 0.59);
  -webkit-transition: width 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: width 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

/* line 151, src/scss/_components/plans/_pricing.scss */
.pricing__box-wrapper > div:hover .pricing__box-detail span,
.pricing__box-wrapper > div:hover .pricing__box-detail p {
  color: #ffffff;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* line 161, src/scss/_components/plans/_pricing.scss */
.pricing__box-wrapper > div:hover .pricing__box-desc li i:before, .pricing__box-wrapper > div:hover .pricing__box-desc li i:after {
  background-color: #ffffff;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

/* line 167, src/scss/_components/plans/_pricing.scss */
.pricing__box-wrapper > div:hover .pricing__box-desc li p {
  color: #ffffff;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* line 178, src/scss/_components/plans/_pricing.scss */
.pricing__box-title, .pricing__box-free {
  text-align: center;
  color: #000;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* line 185, src/scss/_components/plans/_pricing.scss */
.pricing__box-title {
  padding-bottom: 50px;
  font-size: 57px;
}

/* line 190, src/scss/_components/plans/_pricing.scss */
.pricing__box-price {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  color: #000;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* line 197, src/scss/_components/plans/_pricing.scss */
.pricing__box-price span {
  position: relative;
  top: 15px;
  left: -5px;
  font-size: 24px;
}

/* line 204, src/scss/_components/plans/_pricing.scss */
.pricing__box-price h3 {
  font-size: 93px;
  line-height: 1.21505;
}

/* line 209, src/scss/_components/plans/_pricing.scss */
.pricing__box-price p {
  position: relative;
  top: 55px;
  font-size: 24px;
}

/* line 216, src/scss/_components/plans/_pricing.scss */
.pricing__box-free {
  padding-bottom: 42px;
  text-transform: uppercase;
  font-size: 24px;
}

/* line 222, src/scss/_components/plans/_pricing.scss */
.pricing__box-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 193px;
  height: 65px;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  border: 2px solid rgba(33, 150, 243, 0.99);
  font-size: 21px;
  color: #2397f3;
  -webkit-transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  -o-transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}

/* line 239, src/scss/_components/plans/_pricing.scss */
.pricing__box-line {
  width: 100%;
  height: 1px;
  background-color: rgba(112, 112, 112, 0.13);
  -webkit-transition: width 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: width 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

/* line 245, src/scss/_components/plans/_pricing.scss */
.pricing__box-line-0 {
  margin-top: 40px;
  margin-bottom: 40px;
}

/* line 250, src/scss/_components/plans/_pricing.scss */
.pricing__box-line-1 {
  margin-top: 28px;
  margin-bottom: 63px;
}

/* line 256, src/scss/_components/plans/_pricing.scss */
.pricing__box-detail {
  padding-left: 50px;
  padding-right: 50px;
}

/* line 260, src/scss/_components/plans/_pricing.scss */
.pricing__box-detail li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 14px;
}

/* line 265, src/scss/_components/plans/_pricing.scss */
.pricing__box-detail li:last-of-type {
  padding-bottom: 0;
}

/* line 269, src/scss/_components/plans/_pricing.scss */
.pricing__box-detail li span,
.pricing__box-detail li p {
  white-space: nowrap;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-weight: 600;
  font-size: 21px;
  color: #000;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* line 280, src/scss/_components/plans/_pricing.scss */
.pricing__box-detail li p {
  text-align: right;
}

/* line 286, src/scss/_components/plans/_pricing.scss */
.pricing__box-desc {
  padding-left: 50px;
  padding-right: 50px;
}

/* line 290, src/scss/_components/plans/_pricing.scss */
.pricing__box-desc li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 8px;
}

/* line 295, src/scss/_components/plans/_pricing.scss */
.pricing__box-desc li:last-of-type {
  padding-bottom: 0;
}

/* line 299, src/scss/_components/plans/_pricing.scss */
.pricing__box-desc li i {
  position: relative;
  width: 16px;
  height: 16px;
}

/* line 304, src/scss/_components/plans/_pricing.scss */
.pricing__box-desc li i:before, .pricing__box-desc li i:after {
  content: '';
  position: absolute;
  -webkit-border-radius: 2em;
          border-radius: 2em;
  background-color: #4f81e2;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

/* line 313, src/scss/_components/plans/_pricing.scss */
.pricing__box-desc li i:before {
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 3px;
  height: 16px;
}

/* line 321, src/scss/_components/plans/_pricing.scss */
.pricing__box-desc li i:after {
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 16px;
  height: 3px;
}

/* line 330, src/scss/_components/plans/_pricing.scss */
.pricing__box-desc li p {
  padding-left: 39px;
  font-weight: 600;
  font-size: 21px;
  color: #000;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* line 342, src/scss/_components/plans/_pricing.scss */
.pricing__question {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 48px;
}

/* line 348, src/scss/_components/plans/_pricing.scss */
.pricing__question p {
  color: #f32194;
}

/* line 352, src/scss/_components/plans/_pricing.scss */
.pricing__question a {
  position: relative;
  color: #2196F3;
}

/* line 356, src/scss/_components/plans/_pricing.scss */
.pricing__question a:after {
  content: '';
  position: absolute;
  top: 90%;
  left: 0;
  right: 0;
  width: 95%;
  height: 2px;
  margin-left: auto;
  margin-right: auto;
  background-color: #2196f3;
  -webkit-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}

/* line 371, src/scss/_components/plans/_pricing.scss */
.pricing__question img {
  position: absolute;
  top: -6px;
  right: -15px;
}

/* line 3, src/scss/_components/plans/_welcome.scss */
.welcome {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #4f81e2;
}

/* line 8, src/scss/_components/plans/_welcome.scss */
.welcome__sheet {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 4px;
}

/* line 14, src/scss/_components/plans/_welcome.scss */
.welcome__title {
  padding-bottom: 44px;
  font-size: 80px;
  text-align: center;
  color: #fff;
}

/* line 21, src/scss/_components/plans/_welcome.scss */
.welcome__img {
  margin-left: 60px;
  margin-right: 60px;
}

/* line 25, src/scss/_components/plans/_welcome.scss */
.welcome__img-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* line 31, src/scss/_components/plans/_welcome.scss */
.welcome__img img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* line 3, src/scss/_components/plans/_frequently.scss */
.frequently {
  padding-top: 135px;
  padding-bottom: 59px;
}

/* line 7, src/scss/_components/plans/_frequently.scss */
.frequently .c-grid {
  max-width: 1520px;
}

/* line 11, src/scss/_components/plans/_frequently.scss */
.frequently__title {
  padding-bottom: 146px;
  font-size: 80px;
  text-align: center;
  color: #000;
}

/* line 18, src/scss/_components/plans/_frequently.scss */
.frequently__block {
  width: 100%;
  max-width: 50%;
  padding-bottom: 44px;
}

/* line 24, src/scss/_components/plans/_frequently.scss */
.frequently__block-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding-bottom: 65px;
}

/* line 30, src/scss/_components/plans/_frequently.scss */
.frequently__block-title {
  padding-bottom: 16px;
  font-size: 34px;
  color: #000;
}

/* line 36, src/scss/_components/plans/_frequently.scss */
.frequently__block-desc {
  width: 100%;
  max-width: 569px;
  font-weight: 300;
  font-size: 26px;
  color: #000;
}

/* line 45, src/scss/_components/plans/_frequently.scss */
.frequently__btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 195px;
  height: 71px;
  margin-left: auto;
  margin-right: auto;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background: #fff;
  -webkit-box-shadow: 0 24px 16px rgba(0, 0, 0, 0.1);
          box-shadow: 0 24px 16px rgba(0, 0, 0, 0.1);
  font-size: 26px;
  color: #000;
  -webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: -webkit-box-shadow 0.3s ease-in-out;
  -o-transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}

/* line 62, src/scss/_components/plans/_frequently.scss */
.frequently__btn:hover {
  -webkit-box-shadow: 0 12px 8px rgba(0, 0, 0, 0.05);
          box-shadow: 0 12px 8px rgba(0, 0, 0, 0.05);
  -webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: -webkit-box-shadow 0.3s ease-in-out;
  -o-transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}

/*# sourceMappingURL=maps/app.css.map */
