// SECTION single app main :: START

.s-main {
	overflow: hidden;
	position: relative;
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: rgba($brandColor-blue, 0.17);
	@include adaptive(767) {
		padding-top: 75px;
		padding-bottom: 75px;
	}


	&__img {
		position: relative;
		display: block;
		max-width: 200px;
		height: auto;
		margin-top: 30px;
		margin-left: auto;
		margin-right: auto;
	}

	&__title {
		padding-bottom: 30px;
	}

	&__desc {
		padding-bottom: 50px;
		width: 100%;
		max-width: 720px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}

	&__arrow {
		overflow: hidden;
		z-index: 1;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 55px;
		height: 55px;
		border-radius: 100%;
		background-color: $brandColor-blue;
		@include adaptive(767) {
			position: static;
			transform: translate(0);
			margin: 15px auto;
		}

		.icon-font {
			color: #ffffff;
			font-size: 22px;
			@include adaptive(767) {
				transform: rotate(90deg);
			}
		}
	}

	&__box {
		width: 100%;
		min-height: 400px;
		border-radius: 7px;
		background-color: #fff;
		box-shadow: 0 5px 14px 0 rgba(0, 0, 0, 0.03);
		@include adaptive(767) {
			min-height: 0;
		}

		&-1 {
			text-align: center;
		}

		&-2 {
			background-color: #f9f9f9;
		}

		&-img {
			max-width: calc(330px / 1.5);
		}

		&-desc {
			width: 100%;
			max-width: 350px;
			padding-top: 30px;
			text-align: center;
		}
	}

	.pick {
		&__form {
			margin-bottom: 1.5rem;

			.icon-search {
				color: rgba(#000, 0.44);
			}

			&-input {
				width: 100%;
				border-radius: 2em;
				box-shadow: none;
				background-color: #fff;
			}
		}

		&__box {
			width: 100%;
			max-width: calc((100% - ((10px * 4) + 10px)) / 4);
			height: 130px;
			padding-left: 5px;
			padding-right: 5px;
			margin-left: 10px;
			margin-right: 0;
			margin-bottom: 10px;
			@include adaptive(1199) {
				max-width: calc((100% - ((10px * 3) + 10px)) / 3);
			}
			@include adaptive(991) {
				max-width: calc((100% - ((10px * 2) + 10px)) / 2);
			}
			@include adaptive(767) {
				max-width: calc((100% - ((10px * 4) + 10px)) / 4);
			}
			@include adaptive(575) {
				max-width: calc((100% - ((10px * 2) + 10px)) / 2);
			}

			&-title {
				text-align: center;
			}

			&-wrapper {
				overflow-y: auto;
				width: calc(100% + (1.5rem * 2));
				margin-left: -1.5rem;
				min-height: calc((130px * 2) + 40px);
				max-height: calc((130px * 2) + 40px);
				//padding-top: 1.5rem;
			}
		}
	}
}

// SECTION single app main :: END
