// SECTION complex :: START

.complex {
	overflow: hidden;
	position: relative;
	padding-top: 50px;
	padding-bottom: 50px;

	&__wrapper {
		z-index: 2;
		position: relative;
	}

	&__path {
		position: relative;
		display: block;
		width: 200px;
		max-width: 100%;
		height: auto;
		margin-left: auto;
	}

	&__title {
		padding-bottom: 30px;
		text-align: left;
		@include adaptive(575) {
			text-align: center;
		}
	}

	&__pazzle {
		display: block;
		width: 250px;
		max-width: 100%;
		height: auto;
		margin-left: auto;
		@include adaptive(1199) {
			display: none;
		}
	}

	&__pr {
		display: flex;
		padding-right: 50px;
		@include adaptive(1199) {
			width: 100%;
			max-width: 70%;
			margin-left: auto;
			margin-right: auto;
			padding-right: 0;
			padding-top: 50px;
		}
		@include adaptive(575) {
			max-width: 100%;
			//align-items: center;
		}

		&-left {
			flex: 1;
			@include adaptive(575) {
				flex: unset;
				width: 100%;
				max-width: 250px;
			}

			label {
				display: flex;
				align-items: center;
				height: 20px;
				padding: 2px 10px;
				border-radius: 3px;
				background-color: #f756a9;
				font-size: 12px;
				color: #ffffff;
				text-transform: uppercase;
			}

			p {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				height: calc(100% / 5);
				width: 100%;
				max-width: 250px;
				font-size: 18px;
				@include adaptive(575) {
					max-width: 100%;
					font-size: 16px;
					padding-right: 30px;
				}
				@include adaptive(374) {
					font-size: 14px;
				}

				&:nth-of-type(1) {
					align-items: flex-start;
					padding-top: 15px;
					@include adaptive(575) {
						padding-top: 0;
					}
				}

				span {
					display: block;
				}
			}
		}

		&-right {
			max-width: 180px;
			@include adaptive(575) {
				max-width: unset;
				width: 180px;
			}

			img {
				display: block;
				max-width: 100%;
				height: auto;
				margin-left: auto;
				margin-right: auto;
			}
		}
	}
}

// SECTION complex :: END
