// SECTION good :: START

.good {
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: #f2f6ff;
	@include adaptive(575) {
		padding-top: 75px;
		padding-bottom: 75px;
	}

	&__title {
		padding-bottom: 50px;
		color: #4f81e2;
		@include adaptive(575) {
			padding-bottom: 30px;
		}
	}

	&__img {
		width: 100%;
		@include adaptive(575) {
			width: 50%;
			margin-bottom: 15px;
		}
	}

	&__btn {
		&-wrapper {
			position: relative;
			max-width: 250px;
			padding-top: 50px;
			margin-left: auto;
			margin-right: auto;
			@include adaptive(575) {
				padding-top: 30px;
			}

			img {
				position: absolute;
				top: 0;
				left: calc((317px / 2.5) * 2);
				display: block;
				max-width: 100%;
				width: calc(317px / 1.5);
				height: calc(375px / 1.5);
				@include adaptive(767) {
					top: -30px;
				}
				@include adaptive(575) {
					display: none;
				}
			}
		}
	}
}

// SECTION good :: END
