// FOOTER :: START

footer#footer.footer.footer--small
	.container.h-100
		.row.align-items-center.flex-md-wrap.h-100
			.col-12.col-lg-8.d-flex.align-items-center.flex-column.flex-lg-row

				.nav.nav--footer.nav--footer-row
					ul.nav__list
						li.nav__list-item
							a.nav__list-link(href="#" class="" title="")!= "Privacy and terms"
						li.nav__list-item
							a.nav__list-link(href="#" class="" title="")!= "Contact us"

				.social.social--footer
					ul.social__list
						li.social__list-item
							a(href="#" class="" title="")
								i.icon-font.icon-facebook
						li.social__list-item
							a(href="#" class="" title="")
								i.icon-font.icon-instagram
						li.social__list-item
							a(href="#" class="" title="")
								i.icon-font.icon-twitter
						li.social__list-item
							a(href="#" class="" title="")
								i.icon-font.icon-linkedin
						li.social__list-item
							a(href="#" class="" title="")
								i.icon-font.icon-youtube

			.col-12.col-lg-4.d-flex.justify-content-lg-end.justify-content-center

				.copyright.pt-md-4.pt-lg-0
					p.copyright__text!= "© 2016-18 Automate.io All Rights Rreserved"


// FOOTER :: END
