// FOOTER :: START

footer#footer.footer.footer--small
	.c-grid
		.footer__wrapper.footer__wrapper-0

			div
				.nav.nav--footer.nav--footer-row
					ul.nav__list
						li.nav__list-item
							a.nav__list-link(href="#" class="" title="")!= "Privacy and terms"
						li.nav__list-item
							a.nav__list-link(href="#" class="" title="")!= "Contact us"

				.social.social--footer
					ul.social__list
						li.social__list-item
							a(href="#" class="" title="")
								i.icon-font.icon-facebook
						li.social__list-item
							a(href="#" class="" title="")
								i.icon-font.icon-instagram
						li.social__list-item
							a(href="#" class="" title="")
								i.icon-font.icon-twitter
						li.social__list-item
							a(href="#" class="" title="")
								i.icon-font.icon-linkedin
						li.social__list-item
							a(href="#" class="" title="")
								i.icon-font.icon-youtube

			div
				.copyright
					p.copyright__text!= "© 2016-18 Automate.io All Rights Rreserved"

// FOOTER :: END
