---
title: Automate | Dual App

pageClassName: p-dual-app
---
extends shared/_layout

block footer
	include components/_footer-small

block content
	div.body.body--start(class!= pageClassName)

		include components/duap-app/_pick
		include components/common/_fun
