---
title: Automate | Dual App

pageClassName: p-dual-app
---
extends shared/_layout

block footer
	include components/_footer-small

block content
	div.body(class!= pageClassName)

		include components/common/_fun
