---
title: Automate

pageClassName: p-home
---
extends shared/_layout

block content
	div.body(class!= pageClassName)

		//include components/home/_main
		//include components/home/_everything
		//include components/home/_complex
		//include components/home/_everyone
		include components/home/_supported
		include components/home/_good
