---
title: Automate | Integrations

pageClassName: p-integrations
---
extends shared/_layout

block content
	div.body(class!= pageClassName)

		include components/common/_breadcrumbs

		include components/integrations/_main

		include components/common/_integrate
		include components/common/_run

		include components/integrations/_ads
		include components/integrations/_why

		include components/common/_fun
