---
title: Automate | Single App

pageClassName: p-single-app
---
extends shared/_layout

block content
	div.body.body--start(class!= pageClassName)

		include components/common/_breadcrumbs
		include components/common/_run
		include components/common/_fun
