// FOOTER :: START

.footer {

	&--small {
		height: 150px;
		padding: 0 0 20px;
	}

	&__wrapper {
		width: 100%;

		&-0,
		&-1 {
			border-bottom: 1px solid rgba(#707070, 0.16);
		}

		&-0,
		&-2 {
			height: 120px;
		}

		&-0 {
			display: flex;
			align-items: center;
			padding-top: 20px;
			@include adaptive(424) {
				padding-bottom: 20px;
			}
		}

		&-1 {
			padding-top: 40px;
			padding-bottom: 80px;
			@include adaptive(767) {
				padding-bottom: 50px;
			}
		}

		&-2 {
			padding-bottom: 20px;
			@include adaptive(767) {
				padding-top: 20px;
			}
		}
	}

	&__title {
		padding-bottom: 30px;
		font-size: 20px;
		color: #292929;
		@include adaptive(424) {
			text-align: center;
		}
	}
}

// FOOTER :: END
