// FOOTER :: START

.footer {

	&--small {
		padding: 0;

		.footer {
			&__wrapper {
				display: flex;
				align-items: center;
				justify-content: space-between;
				min-height: 150px;
				padding: 0 0 20px;
				border-bottom: none;
				@include adaptive(1023) {
					flex-wrap: wrap;
					padding-top: 20px;
				}

				> div {
					display: flex;
					align-items: center;
					@include adaptive(1023) {
						width: 100%;

						&:first-of-type {
							display: flex;
							flex-direction: column;
							align-items: center;
							justify-content: center;

							.nav__list {
								padding-bottom: 20px;

								&-item {
									&:last-of-type {
										margin-right: 0;
									}
								}
							}

							.social {
								padding-bottom: 20px;
							}
						}

						&:last-of-type {
							display: flex;
							justify-content: center;
						}
					}
				}
			}
		}
	}

	&__wrapper {
		&-0,
		&-1 {
			border-bottom: 1px solid rgba(#707070, 0.16);
		}

		&-0,
		&-2 {
			height: 120px;
		}

		&-0 {
			display: flex;
			align-items: center;
			padding-top: 20px;
			@include adaptive(424) {
				padding-bottom: 20px;
			}
		}

		&-1 {
			padding-top: 40px;
			padding-bottom: 80px;
			@include adaptive(767) {
				padding-bottom: 50px;
			}
		}

		&-2 {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding-bottom: 20px;
			@include adaptive(767) {
				flex-direction: column;
				padding-top: 20px;
			}
		}
	}

	&__row {
		display: flex;
		align-items: flex-start;
		@include adaptive(767) {
			flex-wrap: wrap;
		}
	}

	&__col {
		width: 100%;
		max-width: 100%;
		flex: 1;
		padding-right: 15px;
		@include adaptive(767) {
			flex: 50%;
			padding-bottom: 30px;
		}
		@include adaptive(424) {
			flex: 100%;
		}

		&-0 {}
		&-1 {}
		&-2 {}
		&-3 {}
	}

	&__title {
		padding-bottom: 30px;
		font-size: 20px;
		color: #292929;
		@include adaptive(424) {
			text-align: center;
		}
	}
}

// FOOTER :: END
