// HEADER :: START

.header {
	z-index: 1001;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #ffffff;
	box-shadow: 0 2px 18px rgba(0, 0, 0, 0.1);

	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		min-height: 80px;


		&-left,
		&-right {
			width: 100%;
			max-width: 250px;
		}

		&-left {}

		&-middle {
			display: flex;
			align-items: center;
			justify-content: center;
			flex: 1;
		}

		&-right {
			display: flex;
			align-items: center;
		}
	}

	&__btn {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		width: 100%;

		.c-btn--border {
			border: none;
			color: #707070;
			@include transition(color);

			&:hover {
				color: #2196f3;
				@include transition(color);
			}
		}

		.c-btn--bg {
			margin-left: 15px;
		}
	}
}

// HEADER :: END
