// SECTION ads :: START

section#ads.ads

	.ads__wrapper

		.container
			.row
				.col-md-6.col-12.pb-5.pb-md-0

					.ads__box-wrapper
						.ads__box.ads__box-0
							.ads__box-img.d-flex.align-items-center.justify-content-center
								img.img-fluid(src="img/img-ads-facebook.png" srcset="img/img-ads-facebook@2x.png 2x" alt="" title="")

							p.ads__box-title!= "Facebook Lead Ads"
							.ads__box-line
							p.ads__box-desc.c-text!= "Reach out to your prospects and get leads for your business with targeted ads using Facebook Lead Ads."

				.col-md-6.col-12

					.ads__box-wrapper
						.ads__box.ads__box-1
							.ads__box-img.d-flex.align-items-center.justify-content-center
								img.img-fluid(src="img/img-ads-pipedrive.png" srcset="img/img-ads-pipedrive@2x.png 2x" alt="" title="")

							p.ads__box-title!= "Pipedrive"
							.ads__box-line
							p.ads__box-desc.c-text!= "Pipedrive is a CRM and deal pipeline management software that is simple and easy to use."

// SECTION ads :: END
