// SECTION integration main :: START

section#i-main.i-main

	.i-main__bg
		img(src="img/img-complex-pazzle.svg" alt="" title="")

	.i-main__wrapper

		.container
			.row
				.col-12

					div(parallax-js)
						img.i-main__img(data-stellar-ratio="0.95" src="img/img-i-main-bg.png" srcset="img/img-i-main-bg@2x.png 2x" alt="" title="")

					h1.i-main__title.c-title!= "Facebook & Pipedrive Integration"
					p.i-main__desc.c-text!= "Sync contact data and automate CRM actions. Connect Facebook Lead Ads and Pipedrive. Run workflows."

					a.i-main__btn.c-btn.c-btn--bg(href="#" class="" title="")!= "GET STARTED FO RFREE"

// SECTION integration main :: END
