// SECTION integration main :: START

section#i-main.i-main

	.i-main__bg
		img(src="img/img-complex-pazzle.svg" alt="" title="")

	.i-main__wrapper

		.container
			.row
				.col-12

					.i-main__img-wrapper
						img.i-main__img-bg(src="img/img-i-main-bg.png" alt="" title="")
						.i-main__img-col.i-main__img-col-1
							img.i-main__img.i-main__img-1(src="img/img-integrate-facebook.png" srcset="img/img-integrate-facebook@2x.png 2x" alt="" title="")
						.i-main__img-col.i-main__img-col-2
							img.i-main__img.i-main__img-2(src="img/img-integrate-pipedrive.png" srcset="img/img-integrate-pipedrive@2x.png 2x" alt="" title="")

					h1.i-main__title.c-title!= "Facebook & Pipedrive Integration"
					p.i-main__desc.c-text!= "Sync contact data and automate CRM actions. Connect Facebook Lead Ads and Pipedrive. Run workflows."

					a.i-main__btn.c-btn.c-btn--bg(href="#" class="" title="")!= "GET STARTED FO RFREE"

// SECTION integration main :: END
