// SECTION breadcrumbs :: START

section#breadcrumbs.breadcrumbs

	.breadcrumbs__wrapper

		.container
			.row

				nav(aria-label='breadcrumb')
					ol.breadcrumb.mb-0
						li.breadcrumb-item
							a(href='#')!= 'All Apps'
						li.breadcrumb-item
							a(href='#')!= 'Facebook Lead Ads Integrations'
						li.breadcrumb-item.active(aria-current='page')!= 'Facebook Lead Ads & Pipedrive'

// SECTION breadcrumbs :: END
