// SECTION fun :: START

section#fun.fun

	.fun__bg
		+circleLineSVG()

		.fun__bg-sheet
			+sheetSVG()
			+sheetSVG()
			+sheetSVG()
			+sheetSVG()

	.c-grid-fluid
		.fun__wrapper

			h2.fun__title.c-title!= "Automate Work. Have Fun!"
			p.fun__subtitle.c-subtitle!= "Say Goodbye to those busy days"

			a.fun__btn.c-btn.c-btn--border(href="#" class="" title="")!= "TRY NOW FOR FREE"

// SECTION fun :: END
