// SECTION fun :: START

section#fun.fun(class!= (pageClassName === 'p-integrations') ? 'fun--dark':'')
	.fun__bg
		if(pageClassName !== 'p-single-app')
			+circleLineSVG()

		.fun__bg-sheet
			+sheetSVG()
			+sheetSVG()
			+sheetSVG()
			+sheetSVG()

	.c-grid-fluid
		.fun__wrapper

			h1.fun__title.c-title!= "Automate Work. Have Fun!"
			h2.fun__subtitle.c-subtitle!= "Say Goodbye to those busy days"

			a.fun__btn.c-btn.c-btn--border(href="#" class="" title="")!= "TRY NOW FOR FREE"

// SECTION fun :: END
