// NAV :: START

.nav {
	&--header {
		.nav {
			&__list {
				@include adaptive(1023) {
					flex-direction: column;
					margin-bottom: 30px;
				}

				&-link {
					@include adaptive(1023) {
						min-height: 45px;
					}
				}
			}
		}
	}

	&--footer {
		.nav__list {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			@include adaptive(424) {
				width: 100%;
				align-items: center;
			}

			&-item {
				&:last-of-type {
					.nav__list-link {
						margin-bottom: 0;
					}
				}
			}

			&-link {
				margin-left: 0;
				margin-right: 0;
				margin-bottom: 20px;
				font-size: 14px;
				color: rgba(#292929, 0.7);
				@include adaptive(424) {
					text-align: center;
				}
			}
		}

		&-row {
			.nav__list {
				display: flex;
				flex-direction: row;
				align-items: center;

				&-item {
					margin-right: 30px;
					@include adaptive(991) {
						padding-bottom: 15px;

						&:last-of-type {
							margin-right: 0;
						}
					}
				}

				&-link {
					margin-bottom: 0;
				}
			}
		}
	}

	&__list {
		display: flex;
		align-items: center;

		&-item {
			display: flex;
			align-items: center;
		}

		&-link {
			display: flex;
			align-items: center;
			margin-left: 15px;
			margin-right: 15px;
			font-size: 18px;
			color: #707070;
			@include transition(color);

			&:hover {
				color: #2196f3;
			}

			&.is-active {
				color: #2196f3;
			}

			&:hover,
			&.is-active {
				@include transition(color);
			}
		}
	}
}

// NAV :: END
