// SUBTITLE :: START

.c-subtitle {
	font-size: 28px;
	font-weight: 300;
	font-family: 'Lora', sans-serif;
	@include adaptive(1439) {
		font-size: 26px;
	}
	@include adaptive(1023) {
		font-size: 24px;
	}
	@include adaptive(767) {
		font-size: 22px;
	}
}

// SUBTITLE :: END
