// TITLE :: START

.c-title {
	line-height: 1.2;
	text-align: center;
	font-size: 48px;
	@extend %fontLora;
	@include adaptive(1439) {
		font-size: 45px;
	}
	@include adaptive(1023) {
		font-size: 40px;
	}
	@include adaptive(767) {
		font-size: 35px;
	}
}

// TITLE :: END
