// TITLE :: START

.c-title {
	line-height: 1.2;
	text-align: center;
	font-size: 45px;
	font-family: 'Lora', sans-serif;
	@extend %fontLora;
	@include adaptive(1439) {
		font-size: 42px;
	}
	@include adaptive(1023) {
		font-size: 38px;
	}
	@include adaptive(767) {
		font-size: 32px;
	}
}

// TITLE :: END
