// SECTION breadcrumbs :: START

.breadcrumbs {
	background-color: $brandColor-blue;

	.breadcrumb {
		padding-top: 10px;
		padding-bottom: 10px;
		background-color: transparent;
		@include adaptive(767) {
			display: flex;
			flex-direction: column;
		}

		&-item {
			font-size: 14px;

			& + .breadcrumb-item {
				&:before {
					content: '>';
					color: #ffffff;
				}
			}

			a {
				color: #ffffff;
			}

			&.active {
				color: rgba(#fff, 1);
			}
		}
	}
}

// SECTION breadcrumbs :: END
