// SECTION fun :: START

.fun {
	overflow: hidden;
	position: relative;
	padding-top: 150px;
	padding-bottom: 153px;
	background-color: #ffffff;

	&__bg {
		z-index: 0;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		#img-fun-circle {
			position: absolute;
			bottom: 0;
			left: 154px;
		}

		&-sheet {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;

			svg {
				position: absolute;

				&:nth-of-type(1) {
					top: 110px;
					left: 62px;
				}
				&:nth-of-type(2) {
					top: 50.9%;
					left: 21.5%;
					transform: rotate3D(0, 0, 1, 69deg) scale(0.75);
				}
				&:nth-of-type(3) {
					top: 44.8%;
					right: 22.2%;
					transform: rotate3D(0, 0, 1, -101deg) scale(0.8);
				}
				&:nth-of-type(4) {
					top: 54.4%;
					right: 110px;
					transform: rotate3D(0, 0, 1, 35deg) scale(0.55);
				}

				#sheet-0 {
					fill: rgba(#2196F3, 0.09);
				}
				#sheet-1 {
					stroke: #99B7F1;
				}
			}
		}
	}

	&__wrapper {
		z-index: 2;
		position: relative;
	}

	&__title,
	&__subtitle {
		text-align: center;
		color: #000000;
	}

	&__title {
		font-size: 99px;
	}

	&__subtitle {
		position: relative;
		top: -10px;
		padding-bottom: 49px;
		@extend %fontOpenSans;
		font-weight: 300;
		font-size: 45px;
	}

	&__btn {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		max-width: 567px;
		height: 120px;
		margin-left: auto;
		margin-right: auto;
		background-color: transparent;
		border: 2px solid #4f81e2;
		@extend %fontOpenSans;
		font-size: 32px;
		line-height: 48px;
		color: #4f81e2;
		@include transition(background-color, color);

		&:hover {
			background-color: #4f81e2;
			color: #ffffff;
			@include transition(background-color, color);
		}
	}
}

// SECTION fun :: END
