// SECTION fun :: START

.fun {
	overflow: hidden;
	position: relative;
	padding-top: 125px;
	padding-bottom: 125px;
	background-color: #ffffff;
	@include adaptive(767) {
		padding-top: 100px;
		padding-bottom: 100px;
	}

	&--dark {
		background-color: #cedcf7;

		.fun {
			&__bg {
				svg {
					#sheet-0 {
						fill: #fff;
					}
				}
			}

			&__title,
			&__subtitle {
				color: #4f81e2;
			}

			&__btn {
				background-color: $brandColor-blue;
				color: #ffffff;

				&:hover {
					background-color: transparent;
					color: $brandColor-blue;
				}
			}
		}
	}

	&__bg {
		z-index: 0;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		#img-fun-circle {
			position: absolute;
			bottom: 0;
			left: 154px;
			width: 150px;
			height: 250px;
			@include adaptive(1439) {
				left: 120px;
			}
			@include adaptive(1023) {
				left: 30px;
			}
			@include adaptive(767) {
				left: 0;
				opacity: 0.05;
			}
		}

		&-sheet {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;

			svg {
				position: absolute;
				@include adaptive(1023) {
					opacity: 0.65;
				}

				&:nth-of-type(1) {
					top: 110px;
					left: 62px;
					@include adaptive(1023) {
						top: 75px;
						left: 50px;
					}
					@include adaptive(424) {
						top: 15px;
						left: 15px;
					}
				}
				&:nth-of-type(2) {
					top: 50.9%;
					left: 21.5%;
					transform: rotate3D(0, 0, 1, 69deg) scale(0.75);
					@include adaptive(1023) {
						left: 130px;
					}
				}
				&:nth-of-type(3) {
					top: 44.8%;
					right: 22.2%;
					transform: rotate3D(0, 0, 1, -101deg) scale(0.8);
					@include adaptive(424) {
						display: none;
					}
				}
				&:nth-of-type(4) {
					top: 54.4%;
					right: 110px;
					transform: rotate3D(0, 0, 1, 35deg) scale(0.55);
					@include adaptive(1023) {
						top: 70%;
						right: 50px;
					}
					@include adaptive(424) {
						top: 80%;
						right: 0;
					}
				}

				#sheet-0 {
					fill: rgba($brandColor-blue, 0.09);
				}
				#sheet-1 {
					stroke: $brandColor-blue;
				}
			}
		}
	}

	&__wrapper {
		z-index: 2;
		position: relative;
	}

	&__title,
	&__subtitle {
		text-align: center;
		color: #000000;
	}

	&__subtitle {
		padding-bottom: 50px;
	}

	&__btn {
		max-width: 250px;
		margin-left: auto;
		margin-right: auto;
	}
}

// SECTION fun :: END
