// SECTION welcome :: START

section#welcome.welcome
	.container
		.row
			.col-12

				.welcome__wrapper

					.welcome__sheet
						+sheetSVG()

					h2.welcome__title.c-title!= "Welcome to the family"

					.d-flex.align-items-center.justify-content-center.flex-wrap.flex-md-nowrap
						each val, idx in [1,2,3,4]
							.col-12.col-sm-6.col-md-3.pb-3.pb-sm-0
								img(src="img/img-welcome-" + idx + ".png" srcset="img/img-welcome-" + idx + "@2x.png 2x" alt="" title="")

// SECTION welcome :: END
